<div class="header-sep" style="height:109px"></div>
<h1 class="page-title"><%= t("header.funds") %></h1>

<div class="panel panel-default" style="margin-top: 20px;">
  <div class="panel-body panel-currencies">

    <div class='row'>
      <div class='col-xs-8'>

        <div class="currencies-container">
          <accounts></accounts>
        </div>
      </div>

      <div class='col-xs-16'>
        <div class="details-container">
          <!-- {{template 'flash'}} -->
          <ui-view></ui-view>
        </div>
      </div>

    </div><!-- .row -->

  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(window).load(function(){
      $.ajax({
        type: "post",
        url: "<%= gen_address_funds_path %>"
      })
    });
  </script>
<% end %>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c316cac82491369baa0a901/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->